<!DOCTYPE html>
<html ng-app="appBacenStaWS">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/topcoat/0.8.0/css/topcoat-mobile-light.css" />
        <link rel="stylesheet" type="text/css" href="css/bacen-staws.css" />
        <title>Bacen-STAWS</title>
    </head>
    <body ng-controller="bswAppController as appCtrl">
      <!-- header -->
      <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
              <h1 class="topcoat-navigation-bar__title">Bacen-STAWS</h1>
          </div>
      </div>

      <div id="bacen_staws-body-content">
        <!-- corpo da aplicação -->
        <bsw-acessos-cadastrados ng-show="appCtrl.isSelected(1)"></bsw-acessos-cadastrados>

        <bsw-incluir ng-show="appCtrl.isSelected(2)"></bsw-incluir>

        <bsw-configurar ng-show="appCtrl.isSelected(3)"></bsw-configurar>

        <bsw-sobre ng-show="appCtrl.isSelected(4)"></bsw-sobre>

        <div>
          <bsw-lista-detalhe-acessos ng-show="appCtrl.isSelected(5)"></bsw-lista-detalhe-acessos>

          <bsw-editar ng-show="appCtrl.isSelected(6)"></bsw-editar>
        </div>

      </div>

      <!-- footer -->
      <footer class="bacen_staws-footer-fixed">
        <div class="topcoat-tab-bar full">
          <label class="topcoat-tab-bar__item" ng-class="{ active: appCtrl.isSelected(1) }" ng-click="appCtrl.setTabService(1)">
            <input type="radio" name="topcoat">
            <button id="access-list" class="topcoat-button-bar__button full">
               Listar
            </button>
          </label>
          <label class="topcoat-tab-bar__item" ng-class="{ active: appCtrl.isSelected(2) }" ng-click="appCtrl.setTabService(2)">
            <input type="radio" name="topcoat">
            <button id="access-add" class="topcoat-button-bar__button full">
               Incluir
            </button>
          </label>
          <label class="topcoat-tab-bar__item" ng-class="{ active: appCtrl.isSelected(3) }" ng-click="appCtrl.setTabService(3)">
            <input type="radio" name="topcoat">
            <button id="setup" class="topcoat-button-bar__button full">
              Configurar
            </button>
          </label>
          <label class="topcoat-tab-bar__item" ng-class="{ active: appCtrl.isSelected(4) }" ng-click="appCtrl.setTabService(4)">
            <input type="radio" name="topcoat">
            <button id="about" class="topcoat-button-bar__button full">
              Sobre
            </button>
          </label>
        </div>
      </footer>
      <script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="lib/angularjs/1.3.0-b11/angular.min.js"></script>
      <script type="text/javascript" src="lib/angularjs/1.3.0-b11/angular-locale_pt-br.js"></script>
      <script type="text/javascript" src="lib/x2js/1.1.5/xml2json.min.js"></script>
      <script type="text/javascript" src="js/bacen-staws.js"></script>
    </body>
</html>
