<h3>Editar acessos</h3>

<div id='bsw-editar' ng-if="appCtrl.isSelected(6)">

  <form name="formEditar" ng-controller="bswEditarController as editarCtrl"
                    ng-submit="formEditar.$valid">

    <div>
      <fieldset class="form-group">
        <label>Ambiente:</label>
        <select class="form-control" required ng-model="editarCtrl.editarAcesso.ambiente"
                ng-options="ambiente for ambiente in
                ['homologacao',
                'producao']" title="Ambiente">
          <option value="">Selecione ambiente</option>
        </select>
      </fieldset>

      <fieldset class="form-group">
        <label>Nome:</label>
        <input class="form-control" required placeholder="Bacen STA-WS Homologação"
               title="Nome que identifique o acesso" ng-model="editarCtrl.editarAcesso.name" />
      </fieldset>

      <fieldset class="form-group">
        <label>Descrição:</label>
        <input class="form-control" placeholder="Descrição breve" title="Descrição"
                  ng-model="editarCtrl.editarAcesso.description" />
      </fieldset>

      <fieldset class="form-group">
        <label>Instituição:</label>
        <input class="form-control" required placeholder="UUUUU"
               title="Identificador da instituição no Bacen STA-WS"
               ng-model="editarCtrl.editarAcesso.bcbOrg" />
      </fieldset>

      <fieldset class="form-group">
        <label>Dependência:</label>
        <input class="form-control" placeholder="DDDD"
               title="Identificador da dependência no Bacen STA-WS"
               ng-model="editarCtrl.editarAcesso.bcbDep" />
      </fieldset>

      <fieldset class="form-group">
        <label>Operador:</label>
        <input class="form-control" required placeholder="operador"
               title="Identificador do operador no Bacen STA-WS"
               ng-model="editarCtrl.editarAcesso.bcbOper" />
      </fieldset>

      <fieldset class="form-group">
        <label>Senha:</label>
        <input class="form-control" required placeholder="digite a senha"
               title="Senha do operador no Bacen STA-WS" type="{{passwordType}}"
               ng-model="editarCtrl.editarAcesso.bcbPass" />
        <label class="topcoat-checkbox" ng-click="editarCtrl.togglePasswordFieldType()">
          <input type="checkbox">
          <div class="topcoat-checkbox__checkmark"></div>
          Mostra a senha
        </label>
      </fieldset>

    </div>

    <!-- botões ações de edição -->
    <button class="topcoat-button--cta" type="submit" value="Verificar"
      ng-click="formEditar.$valid && editarCtrl.verificarAcesso(editarCtrl.editarAcesso)">
      Verificar
    </button>
    <button class="topcoat-button--cta" type="submit" value="Salvar"
      ng-click="formEditar.$valid && editarCtrl.salvarAcesso(editarCtrl.editarAcesso)">
      Salvar
    </button>
    <button class="topcoat-button--cta" type="submit" value="Cancelar"
      ng-click="formEditar.$valid && editarCtrl.btnClick(1)" disabled>
      Cancelar
    </button>
    <div>
      {{statusMessage}}
    </div>

  </form>

</div>
<br /><br /><br /><br />
